<div class="jumbotron text-center">
   <h1>Welcome to Rebelmusic!</h1>
   <p>Want to go back to homepage?
   <%= link_to "Click here", artists_path %>
   </p>
</div>

<h2>Add an artist?</h2>
<%= render 'form' %>
<hr />
<p>&copy;2017 &#10084; Jiamei</p>
