<h2><%= @artist.name %></h2>

<h3>Songs</h3>
<% @artist.songs.each do |song| %>
  <ul>
    <li><%= song.name %></li>
  </ul>
<%end %>

<h3>Add a song for this artist?</h3>
<%= render 'songs/form' %>

<%= link_to "Delete this artist", artist_path(@artist.id), method: :delete,
data: { confirm: "Are you sure to delete this lovely artist?"} %>
